<section class="row" style="background-color: black; min-height: 150px; margin: 0; overflow: auto;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4 text-center">
                <br>
                <h4 class="footer_headers">About SakaDocs</h4>
                <p class="footer_notes" style="color: orange;">Sakadocs is an online platform that gives users the opportunity to post or search for lost documents including National ID's, Passports, Job IDS, Insurance cards, student IDS among others.</p>
            </div>
            <div class="col-sm-4 text-center">
                <br>
                <h4 class="footer_headers">Quick links</h4>
                <p class="footer_notes">
                    <a href="/#!/pricingplan" style="color: orange;">PRICING PLANS</a>
                    <br>
                    <!-- <a href="" style="color: orange;">FAQ's</a> -->
                    <br>
                    <a href="/#!/termsofuse" style="color: orange;">Terms of use</a>
                </p>
            </div>
            <div class="col-sm-4 text-center">
                <br>
                <h4 class="footer_headers">Contacts</h4>
                <p class="footer_notes" style="color: orange;">P.O Box 705-90131 TALA.
                    <br>
                    <span style="color: white; font-weight: bold;">Customer Service:</span> (+254)715 753 308
                    <br> info@sakadocs.co.ke
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <p style="color: white;"><span class="glyphicon glyphicon-copyright-mark"></span> 2018-SakaDocs Ventures</p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</section>