<section class="row" style="background-color: black; min-height: 150px; margin: 0; overflow: auto;" >
    <div class="col-sm-4 text-center">
    	<h3>About SakaDocs</h3>
		<p style="color: orange;">Sakadocs is an online platform that gives users the opportunity to post or search for lost documents including National ID's, Passports, Job IDS, Insurance cards, student IDS among others.</p>
    </div>
    <div class="col-sm-4 text-center">
    	<h3>Quick links</h3>
    	<a href="" style="color: orange;"><p>PRICING PLANS</p></a>
    	<a href="" style="color: orange;"><p>FAQ's</p></a>
    	<a href="" style="color: orange;"><p>Terms of use</p></a>
    </div>
    <div class="col-sm-4 text-center">
    	<h3>Contacts</h3>
    	<p style="color: orange;">P.O Box 67740-00100-GPO Nairobi.</p>
    	<p style="color: orange;"><span style="color: white; font-weight: bold;">Customer Service:</span>  0715 753 308</p>
    	<p style="color: orange;">info@patadocs.co.ke</p>
    </div>
</section>