<div class="container" id="headercontainer" data-ng-controller="HeaderController">
    <div class=" navbar-header col-sm-2 text-center">
        <a href="/#!/" class="navbar-brand" id="logo">
            <img class="img-responsive" src="/modules/core/img/brand/logo.png" id="big_logo" alt="SakaDocs logo">
            <img class="img-responsive" src="/modules/core/img/brand/small_logo.png" id="small_logo" alt="Sakadocs logo">
        </a>
        <!-- <button class="navbar-toggle bg-faded" id="hamburger" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> -->
    </div>
    <div class="col-md-8 row" id="searchnav">
        <div class="row" id="searchholder">
            <select name="docType" data-ng-model="docType" class="nav-search-dropdown col-md-10" id="typedown" oninvalid="this.setCustomValidity('You must choose a document type')" oninput="setCustomValidity('')" required aria-required=”true” required validate>
                <option value="" disabled="disabled" class="text-center" selected="selected">
                    <span class="dropdownheading">Search for document</span>
                </option>
                <option value="national" ng-click="search()">National ID</option>
                <option value="studentid" ng-click="search()">Student ID</option>
                <option value="staffid" ng-click="search()">Staff ID</option>
                <option value="atm" ng-click="search()">ATM card</option>
                <option value="nhifcard" ng-click="search()">Insurance card</option>
                <option value="certificate" ng-click="search()">Certificate</option>
                <option value="passport" ng-click="search()">Passport</option>
                <option value="dl" ng-click="search()">Driving license</option>
            </select>
            <button class="col-md-2" id="button" type="submit" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        <div class="row" id="navholder">
            <nav class="collapse navbar-collapse row" id="mobilenav" collapse="!isCollapsed" role="navigation">
                <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
                    <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
                            <span data-ng-bind="item.title"></span>
                            <b class="caret"></b>
                        </a>
                        <ul ng-switch-when="dropdown" class="dropdown-menu">
                            <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                                <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                            </li>
                        </ul>
                        <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav  text-center" data-ng-hide="authentication.user">
                    <li ng-class="{active: $uiRoute}">
                        <a href="/#!"><span class="menuname" id="createaccount">Home</span></a>
                    </li>
                    <li ui-route="/signup" ng-class="{active: $uiRoute}">
                        <a href="/#!/signup"><span class="menuname" id="createaccount">Create an account</span></a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li ui-route="/signin" ng-class="{active: $uiRoute}">
                        <a href="/#!/signin"><span class="menuname" id="createaccount">Sign in</span></a>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                            <span class="menuname" id="createaccount">Post a document</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li name="doc" data-ng-model="doc" style="background-color: #EEEEEE;">
                                <a href="/#!/postid"><span class="menuname">National Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/poststudentid"><span class="menuname">Student Id<span class="menuname"></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/poststaffid"><span class="menuname">Staff Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/postatm"><span class="menuname">ATM card</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/postnhif"><span class="menuname">NHIF card</span></a>
                            </li>
                            <li>
                                <a href="/#!/postcertificate"><span class="menuname">Certificate</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/passport"><span class="menuname">Passport</span></a>
                            </li>
                            <li>
                                <a href="/#!/postdl"><span class="menuname">Driving license</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav text-center" data-ng-show="authentication.user">
                    <li ng-class="{active: $uiRoute}">
                        <a href="/#!"><span class="menuname" id="createaccount">Home</span></a>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                            <span class="menuname" id="createaccount">Post a document</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li name="doc" data-ng-model="doc" style="background-color: #EEEEEE;">
                                <a href="/#!/postid"><span class="menuname">National Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/poststudentid"><span class="menuname">Student Id<span class="menuname"></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/poststaffid"><span class="menuname">Staff Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/postatm"><span class="menuname">ATM card</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/postnhif"><span class="menuname">NHIF card</span></a>
                            </li>
                            <li>
                                <a href="/#!/postcertificate"><span class="menuname">Certificate</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/postpassport"><span class="menuname">Passport</span></a>
                            </li>
                            <li>
                                <a href="/#!/postdl"><span class="menuname">Driving license</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" dropdown>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                            <span class="menuname" id="createaccount">My Posts</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li name="doc" data-ng-model="doc" style="background-color: #EEEEEE;">
                                <a href="/#!/myids"><span class="menuname">National Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/mystudentids"><span class="menuname">Student Id<span class="menuname"></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/mystaffids"><span class="menuname">Staff Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/myatms"><span class="menuname">ATM card</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/mynhifs"><span class="menuname">INSURANCE card</span></a>
                            </li>
                            <li>
                                <a href="/#!/mycertificates"><span class="menuname">Certificate</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  >
                                <a href="/#!/mypassports"><span class="menuname">Passport</span></a>
                            </li>
                            <li >
                                <a href="/#!/mydls"><span class="menuname">Driving license</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" dropdown id="profile_on_pc">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                            <span class="menuname" data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/settings/profile"><span class="menuname">Edit Profile</span></a>
                            </li>
                            <li data-ng-show="authentication.user.provider === 'local'">
                                <a href="/#!/settings/password"><span class="menuname">Change Password</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;>
                                <a href="/auth/signout"><span class="menuname">Sign out</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-sm-2" id="topinfo" style="color: white;">
        <br>
        <h5><span style="color: white; font-size: 1em; padding-left: 18px;">Customer Service</span></h5>
        <img class="img-responsive" src="/modules/core/img/SakaDocs_customer_service_number.png" alt="SakaDocs customer service number +254715753308">
    </div>
</div>