<!-- This is the homepage -->
<section data-ng-controller="HomeController" class="homedocs ">
    <div class="container-fluid">
        <div class="col-sm-1" id="left_side_div"></div>
        <div class="col-sm-10 text-center"><br>
            <div class="row" id="mobile_signup">
                <div class="row" data-ng-show="authentication.user">
                    <div class="col-xs-4" id="user_mobile_button">
                        <div class="dropdown" dropdown style="width: 100%;"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle style="text-decoration: none;">
                            <span style="color: white; text-decoration: none;" data-ng-bind="authentication.user.displayName" ></span> <b class="caret" style="color: orange;"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li style="background-color: #EEEEEE;">
                                    <a href="/#!/settings/profile"><span class="menuname">Edit Profile</span></a>
                                </li>
                                <li  data-ng-show="authentication.user.provider === 'local'">
                                    <a href="/#!/settings/password"><span class="menuname">Change Password</span></a>
                                </li>
                                <li style="background-color: #EEEEEE;">
                                    <a href="" ng-click="signout()"><span class="menuname">Sign out</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-8" id="user_mobile_button" style="width: 50%;">
                        <div class="dropdown" dropdown style="width: 100%;"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle style="text-decoration: none;">
                            <span style="color: white; text-decoration: none;">My posts</span> <b class="caret" style="color: orange;"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li name="doc" data-ng-model="doc">
                                    <a href="/#!/myids"><span class="menuname">National Id</span></a>
                                </li>
                                <li style="background-color: #EEEEEE;">
                                    <a href="/#!/mystudentids"><span class="menuname">Student Id<span class="menuname"></a>
                                </li>
                                <li>
                                    <a href="/#!/mystaffids"><span class="menuname">Staff Id</span></a>
                                </li>
                                <li style="background-color: #EEEEEE;">
                                    <a href="/#!/myatms"><span class="menuname">ATM card</span></a>
                                </li>
                                <li>
                                    <a href="/#!/mynhifs"><span class="menuname">Insurance card</span></a>
                                </li>
                                <li style="background-color: #EEEEEE;">
                                    <a href="/#!/mycertificates"><span class="menuname">Certificate</span></a>
                                </li>
                                <li>
                                    <a href="/#!/mypassports"><span class="menuname">Passport</span></a>
                                </li>
                                <li style="background-color: #EEEEEE;">
                                    <a href="/#!/mydls"><span class="menuname">Driving license</span></a>
                                </li>
                                <li>
                                    <a href=""><span class="menuname">Others</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-hide="authentication.user">
                    <div class="col-xs-2"></div>
                    <a href="/#!/signup">
                        <div class="col-xs-4" id="mobile_button">Sign up</div>
                    </a>
                    <a href="/#!/signin">
                        <div class="col-xs-4" id="mobile_button">Sign in</div>
                    </a>
                    <div class="col-xs-2"></div>
                </div>
                <a href="" style="text-decoration: none;">
                    <div class="dropdown" dropdown style="width: 100%;" id="mobile_button"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
                            <span style="color: white; text-decoration: none;" >Post a document</span> <b class="caret" style="color: orange;"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li name="doc" data-ng-model="doc" style="background-color: #EEEEEE;">
                                <a href="/#!/postid"><span class="menuname">National Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/poststudentid"><span class="menuname">Student Id<span class="menuname"></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/poststaffid"><span class="menuname">Staff Id</span></a>
                            </li>
                            <li>
                                <a href="/#!/postatm"><span class="menuname">ATM card</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/postnhif"><span class="menuname">NHIF card</span></a>
                            </li>
                            <li>
                                <a href="/#!/postcertificate"><span class="menuname">Certificate</span></a>
                            </li>
                            <li style="background-color: #EEEEEE;">
                                <a href="/#!/passport"><span class="menuname">Passport</span></a>
                            </li>
                            <li>
                                <a href="/#!/postdl"><span class="menuname">Driving license</span></a>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <h6 style="font-weight: bolder; font-size: 0.97em;" id="pchometext">To post or find a document, <span data-ng-hide="authentication.user"><span><a href="/#!/signup" style="color: orange ">sign up</a></span> or <span><a href="/#!/signin" style="color: orange ">sign in</a></span> and</span> use the search bar above or click a specific category below.</h6>
            <h6 style="font-weight: bold; font-size: 0.91em;" id="mobilehometext">To post or find a document, <span data-ng-hide="authentication.user"><span><a href="/#!/signup" style="color: orange ">sign up</a></span> or <span><a href="/#!/signin" style="color: orange ">sign in</a> </span>and</span>  click a specific category below.</h6>
            <div id="pc_home_docs">
                <div class="row">
                    <div class="  col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/national">
                            <div class="text-center">
                                <img class="doc img-responsive" src="/modules/core/img/nationalID.jpg" alt="Lost a Kenyan National ID">
                            </div>
                            <a href="/#!/national" class="text-center" id="idheadlink"><h4 id="idhead">NATIONAL ID</h4></a>
                        </a>
                    </div>
                    <div class=" col-sm-4 text-center " id="docholder">
                        <br>
                        <a href="/#!/studentids">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/StudentID.jpg" style="" alt="Lost a Kenyan staff ID">
                            </div>
                            <a href="/#!/studentids" id="idheadlink"><h4 id="idhead">STUDENT ID</h4></a>
                        </a>
                    </div>
                    <div class=" col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/staffids">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/StaffID.jpg" style="" alt="staff id">
                            </div>
                            <a href="/#!/staffids" id="idheadlink"><h4 id="idhead">STAFF ID</h4></a>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class=" container col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/atms">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/ATMcard.jpg" alt="ATMcard">
                            </div>
                            <a href="/#!/atms" class="text-center" id="idheadlink"><h4 id="idhead">ATM CARD</h4></a>
                        </a>
                    </div>
                    <div class="container col-sm-4 text-center " id="docholder">
                        <br>
                        <a href="/#!/nhifs">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/InsuranceCard.jpg" style="" alt="InsuranceCard">
                            </div>
                            <a href="/#!/nhifs" id="idheadlink"><h4 id="idhead">INSURANCE CARD</h4></a>
                        </a>
                    </div>
                    <div class="container col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/certificates">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/Certificate.jpg" style="" alt="Certificate">
                            </div>
                            <a href="/#!/certificates" id="idheadlink"><h4 id="idhead">CERTIFICATE</h4></a>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class=" container col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/dls">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/DrivingLicence.png" alt="DrivingLicense">
                            </div>
                            <a href="/#!/dls" class="text-center" id="idheadlink"><h4 id="idhead">DRIVING LICENCE</h4></a>
                        </a>
                    </div>
                    <div class="container col-sm-4 text-center " id="docholder">
                        <br>
                        <a href="/#!/passports">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/Passport.jpg" style="" alt="passports">
                            </div>
                            <a href="/#!/passports" id="idheadlink"><h4 id="idhead">PASSPORT</h4></a>
                        </a>
                    </div>
                    <div class="container col-sm-4 text-center" id="docholder">
                        <br>
                        <a href="/#!/envelope">
                        <img class="doc img-responsive" src="/modules/core/img/SakaDocs_others.png" style="" alt="Certificate">
                        <a href="/#!/envelope" id="idheadlink"><h4 id="idhead">OTHER DOCUMENTS</h4></a>
                        </a>
                    </div>
                </div>
            </div>
            <div id="mobile_home_docs">
                <div class="row">
                    <div class="  col-xs-6 text-center" id="docholder">
                        <br>
                        <a href="/#!/national">
                            <div class="text-center">
                                <img class="doc img-responsive" src="/modules/core/img/nationalID.jpg" alt="id">
                            </div>
                            <a href="/#!/national" class="text-center" id="idheadlink"><h4 id="mobileidhead">NATIONAL ID</h4></a>
                        </a>
                    </div>
                    <div class=" col-xs-6 text-center " id="docholder">
                        <br>
                        <a href="/#!/studentids">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/StudentID.jpg" style="" alt="staff id">
                            </div>
                            <a href="/#!/studentids" id="mobileidheadlink"><h4 id="mobileidhead">STUDENT ID</h4></a>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-xs-6 text-center" id="docholder">
                        <br>
                        <a href="/#!/staffids">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/StaffID.jpg" style="" alt="staff id">
                            </div>
                            <a href="/#!/staffids" id="mobileidheadlink"><h4 id="mobileidhead">STAFF ID</h4></a>
                        </a>
                    </div>
                    <div class=" container col-xs-6 text-center" id="docholder">
                        <br>
                        <a href="/#!/atms">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/ATMcard.jpg" alt="ATMcard">
                            </div>
                            <a href="/#!/atms" class="text-center" id="mobileidheadlink"><h4 id="mobileidhead">ATM CARD</h4></a>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-xs-6 text-center " id="docholder">
                        <br>
                        <a href="/#!/nhifs">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/InsuranceCard.jpg" style="" alt="InsuranceCard">
                            </div>
                            <a href="/#!/nhifs" id="mobileidheadlink"><h4 id="mobileidhead">INSURANCE CARD</h4></a>
                        </a>
                    </div>
                    <div class="container col-xs-6 text-center" id="docholder">
                        <br>
                        <a href="/#!/certificates">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/Certificate.jpg" style="" alt="Certificate">
                            </div>
                            <a href="/#!/certificates" id="mobileidheadlink"><h4 id="mobileidhead">CERTIFICATE</h4></a>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class=" container col-xs-6 text-center" id="docholder">
                        <br>
                        <a href="/#!/dls">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/SakaDocsDrivingLicence.jpg" alt="DrivingLicense">
                            </div>
                            <a href="/#!/dls" class="text-center" id="mobileidheadlink"><h4 id="mobileidhead">DRIVING LICENCE</h4></a>
                        </a>
                    </div>
                    <div class="container col-xs-6 text-center " id="docholder">
                        <br>
                        <a href="/#!/passports">
                            <div class="text-center" id="idsection">
                                <img class="doc img-responsive" src="/modules/core/img/Passport.jpg" style="" alt="passports">
                            </div>
                            <a href="/#!/passports" id="mobileidheadlink"><h4 id="mobileidhead">PASSPORT</h4></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>