<section data-ng-controller="PaymentController"  class="text-center">
	<h1>To claim this document you need to load your account balance with atleast Kshs 200 using Mpesa</h1>

	<br>
	<h3>1. Go to Mpesa</h3>
	<h3>2. Select Lipa na Mpesa Paybill</h3>
	<h3>3. Enter Paybill number 705831</h3>
	<h3>4. Enter account name PATADOCS</h3>
	<h3>5. Enter amount and pin</h3><br>

	<button type="submit" class="btn" ng-click="claimId()" id="signupbtn"><span id="claimtext">Confirm Payment</span></button>
</section>