<section data-ng-controller="PricingplanController" class="text-center">
    <br>
    <br>
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center" style="padding-left: 14px;">
        <h4>SakaDocs pricing plan</h4>
        <table>
            <thead>
                <th id="table-head" style="">No.</th>
                <th id="table-head">Document type</th>
                <th id="table-head">Claiming the document</th>
                <th id="table-head">Earning for claimed document</th>
            </thead>
            <tbody>
                <tr>
                    <td id="table-data">1.</td>
                    <td id="table-data">National ID card</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">2.</td>
                    <td id="table-data">Student ID card</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">3.</td>
                    <td id="table-data">Staff ID card</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">4.</td>
                    <td id="table-data">ATM card</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">5.</td>
                    <td id="table-data">Insurance card</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">5.</td>
                    <td id="table-data">Driving license</td>
                    <td id="table-data">500</td>
                    <td id="table-data">250</td>
                </tr>
                <tr>
                    <td id="table-data">6.</td>
                    <td id="table-data">Certificate</td>
                    <td id="table-data">300</td>
                    <td id="table-data">150</td>
                </tr>
                <tr>
                    <td id="table-data">7.</td>
                    <td id="table-data">Passport</td>
                    <td id="table-data">1000</td>
                    <td id="table-data">500</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <p style="font-size: 10px;">* All amounts are in Kenyan Shillings (Kshs)</p>
        </div>
    </div>
    <div class="col-sm-3"></div>
</section>