<section class="row" data-ng-controller="AuthenticationController" style="min-height: 100%;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <br><br><br><br>
        <div class="row text-center">
            <h3 class="pagehead" style="color: black;">Welcome back!</h3>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                    <fieldset>
                        <div data-ng-show="error" class="text-center text-danger bg-danger">
                            <strong style="padding-top: 4px;" data-ng-bind="error"></strong>
                        </div><br>
                        <div class="form-group">
                            <input type="text" id="username" name="username" class="form-control forminput" data-ng-model="credentials.username" placeholder="Mobile number">
                        </div>
                       
                        <div class="form-group">
                            <input type="password" id="password" name="password" class="form-control forminput" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn" id="signupbtn">Sign in</button><br><br>
                            <div class="row">
                                <div class="forgot-password col-sm-6">
                                    <a href="/#!/password/forgot" id="forgotpassword">Forgot your password?</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/#!/signup" id="forgotpassword">I don't have an account </a>
                                </div>
                            </div>
                            
                        </div>  
                        
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</section>