.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
#homesearch{
	top: 10px;
}
#docsection{
	background-color: white;
	min-height: 100px;
	width: 40%;
}
#emptysection{
	width: 4%;
	min-height: 100px;
	/*background-color: blue;*/
}
.menuitem{
	background-color: grey;
}
.leftmenu{
	background-color: brown;
	min-height: 600px;
	width: 12%;
}
.nav-input{
	border-left-width: 2px;
}
.brand{
	width: 10%;
}
#typedown{
	color: orange;
	min-height: 35px;
	border-color: orange;
	border-left-color: orange;
	border-right-color: white;
	border-width: 1px;
	border-style: solid;
	width: 365px;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	/*padding-left: 85px;*/

}
#uniquefilter{
	color: black;
	min-height: 35px;
	border-color: orange;
	border-width: 1px;
	border-style: solid;
	width: 314px;
	font-weight: bolder;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 65px;

}
#button{
	background-color: orange;
	border-color: orange;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	min-height: 35px;
	border-style: solid;
}
.dropdownheading{
	color: blue;
	font-weight: bolder;
	font-size: 2em;
}
#searchbtn{
	left: -16px;
}
.menuname{
	color: orange;
}
#postdoc{
	font-weight: bolder;
}
#signupbtn{
	background-color: orange;
	font-weight: bold;
	text-decoration: none;
}
#altbtn{
	background-color: black;
	color: orange;
	font-weight: bold;
}
#createaccount{
	font-weight: bold;
}
#forgotpassword{
	text-decoration: none;
	color: black ;
}
#username{
	border-color: orange;
	border-style: solid;
}
#firstName{
	border-color: orange;
	border-style: solid;
}
#lastName{
	border-color: orange;
	border-style: solid;
}
#email{
	border-color: orange;
	border-style: solid;
}
#mobileNumber{
	border-color: orange;
	border-style: solid;
}
#password{
	border-color: orange;
	border-style: solid;
}
#idsection{
	background-color: white;
	min-height: 100px;
	width: 40%;
}
#idheadlink{
	text-decoration: none;
	color: orange;
	
}
#idhead{
	font-weight: bold;
}
.postlist{
	padding: 0;	
	max-height: 1px;
}
.divider{
	max-height: 1px;
}
#postbtn{
	background-color: orange;
	font-weight: bold;
	width: 200px;
}
.form-control{
	border-color: orange;
	border-style: solid;
}
#picinput{
	min-height: 300px;
	border-color: orange;
	border-style: solid;
}
#logo{
	left: -110px;
	position: relative;
}
.mythumbnail{
	height: 100%;
	width: 100%;
	max-width: 400px;
}
#thumbnail{
	min-height: 150px;
	width: 100%;
}
#idholder{
	border-bottom-color: black;
	border-right-color: black;
	border-left-color: black;
	border-top-color: orange;
	border-style: solid;
	border-width: 3px;
	border-right-style: double;
	border-left-style: double;
}
.pagehead{
	font-weight: bolder;
	color: orange;
	font-size: 2em;
}
.postid{
	width: 110px;
}
#postiddescription{
	font-weight: bold;
	color: black;
	font-size: 1.5em;
}
#postidform{
	/*left: -10px;*/
}
.forminput{
	border-top: hidden;
	border-right: hidden;
	border-left: hidden;
	border-bottom-right-radius: 10px; 
	border-bottom-width: 3px;  
}
#claimtext{
	text-decoration: none;
	color: black;
	font-weight: bold;
}