<section data-ng-controller="ClaimstaffidController" data-ng-init="claim()">
    <div class="row">
        <div class="col-sm-6">
            <div class="row thumbnail img-responsive" id="idpic">
                <img class=" col-sm-6 img-responsive" ng-src="{{id.idPhoto}}" alt="">
                <div class="col-sm-6">
                    <p style="font-weight: bold;">Full names: <span style="color: orange;">{{id.fullNames | uppercase}}</span></p>
                    <p style="font-weight: bold;">Job number: <span style="color: orange;">{{id.jobNumber | uppercase}}</span> </p>
                    <p style="font-weight: bold;">Company name: <span style="color: orange;">{{id.companyName | uppercase}}</span> </p>
                    <p style="font-weight: bold;">Location found: <span style="color: orange;">{{id.locationFound | uppercase}}</span> </p>
                    <p style="font-weight: bold;">Date posted: <span style="color: grey;">{{id.created | date}}</span> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3 style="font-weight: bold;">Follow the steps below to claim your staff ID</h3>
            <p>1. Send Kshs 300/= via mpesa to 0715753308.</p>
            <p>2. Text this staff ID's job number, company name and MPesa confirmation code to 0707293292.</p>
            <p>3. You will receive an sms from 0707293292 with phone number of the person who posted your ID and a SakaDocs code. </p>
            <p>4. Call the received number and arrange to meet the person. </p>
            <p>5. The person will give you your ID in exchange for the SakaDocs code you received.</p>
            <p></p>
        </div>
    </div>
</section>