<section data-ng-controller="ClaimController" data-ng-init="claim()">
    <div class="row text-center" style="background-color: black; color: orange;">
        <h4 style="font-weight: bold; font-size: 16px;">Claim your document</h4>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="row img-responsive" id="idpic">
                <img class=" col-sm-6 img-responsive" ng-src="{{id.idPhoto}}" alt="">
                <div class="col-sm-6">
                    <p style="font-weight: bold; font-size: 13px;">Full names: <span style="color: orange; font-size: 13px;">{{id.fullNames | uppercase}}</span></p>
                    <p style="font-weight: bold; font-size: 13px;">Id number: <span style="color: orange; font-size: 13px;">{{id.idNumber | uppercase}}</span> </p>
                    <p style="font-weight: bold; font-size: 13px;">Area found: <span style="color: orange; font-size: 13px;">{{id.locationFound | uppercase}}</span> </p>
                    <p style="font-weight: bold; font-size: 13px;">Date posted: <span style="color: grey; font-size: 13px;">{{id.posted | date}}</span> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-10">
                    <p style="font-size: 13px;">To claim this ID, kindly choose a payment method below and pay Kshs 300 to automatically receive (via SMS) the mobile number of the person who posted your document (the Poster) and a unique <span><a href="">SakaDocs code</a></span> (which you will be required to give to the Poster once they give you your document) . You can then call the Poster to agree on how they will avail your document.</p>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <div class="">
                    <h6 style="font-weight: bold; font-size: 15px;">Payment via MPesa</h6>
                </div>
                <p style="font-size: 11px;">1. Go to MPesa menu</p>
                <p style="font-size: 11px;">2. Choose Lipa Na MPesa</p>
                <p style="font-size: 11px;">3. Next go to Paybill</p>
                <p style="font-size: 11px;">4. Enter Business number 753753</p>
                <p style="font-size: 11px;">5. Enter Account number {{id.accountNumber}}</p>
                <p style="font-size: 11px;">6. Enter amount then your MPesa PIN to <span>finish transaction</span>.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="col-sm-6">
           <div class="col-sm-2"></div>
<div class="col-sm-8">
    <h4 style="font-weight: bold">Choose payment method</h4>
    <div class="row col-sm-6" style="height: 70px; padding-right: 19px;">
        <a ng-click="toggleMpesa()">
            <div class="thumbnail img-responsive">
                <img src="/modules/core/img/SakaDocs_ MPesa_paybill.png" class="img-responsive" alt="">
            </div>
        </a>
    </div>
    <div class="row col-sm-6" style="height: 70px;padding-left: 19px;">
        <a ng-click="toggleAirtel()">
            <div class="thumbnail img-responsive">
                <img src="/modules/core/img/SakaDocs_Airtel_Money_Paybill.png" class="img-responsive" alt="">
            </div>
        </a>
    </div>
</div>
<div class="col-sm-2"></div>
</div>
</div>
</section>