<section data-ng-controller="HowtopostadocController">
	
    <div class="row">
        <div class="col-sm-1" id="right-blog-side" style="overflow: scroll; height: 900px;"></div>
        <div class="col-sm-10" style="overflow: scroll; height: 900px;">
            <div class="row text-center" style="background-color: black; min-height: 150px;">
            	<img class="img-responsive" src="/modules/core/img/how_to_post.jpg">
            </div><br>
            <div class="text-center">
            	<p>1.Sign in to your SakaDocs account or create one</p>
            	<br>
            	<div class="row" >
            		<div class="col-sm-2"></div>
            		<div class="col-sm-9">
            			<img class="img-responsive" src="/modules/core/img/login.png">
            		</div>
            		<div class="col-sm-3"></div>
            	</div><br><br>
            	<p>2.Click on 'post a document' and choose the type of document you want to post.</p>
            	<br>
            	<div class="row">
            		<div class="col-sm-2"></div>
            		<div class="col-sm-9">
            			<img class="img-responsive" src="/modules/core/img/postdoc.png">
            		</div>
            		<div class="col-sm-3"></div>
            	</div><br><br>
            	<p>3.Fill the document particulars on the page that follows</p>
            	<br>
            	<div class="row">
            		<div class="col-sm-2"></div>
            		<div class="col-sm-9">
            			<img class="img-responsive" src="/modules/core/img/details.png">
            		</div>
            		<div class="col-sm-3"></div>
            	</div><br><br>
            	<p>3.To upload an image of the document, click on upload  Image and choose the image to upload.</p>
            	<br>
            	<div class="row">
            		<div class="col-sm-2"></div>
            		<div class="col-sm-9">
            			<img class="img-responsive" src="/modules/core/img/details3.png">
            		</div>
            		<div class="col-sm-3"></div>
            	</div><br>
            	<p>3.Click on Post</p>
            	<br>
            	<div class="row">
            		<div class="col-sm-2"></div>
            		<div class="col-sm-9">
            			<img class="img-responsive" src="/modules/core/img/details2.png">
            		</div>
            		<div class="col-sm-3"></div>
            	</div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</section>