<section data-ng-controller="HowtoclaimpaymentController">
    <div class="row">
        <div class="col-sm-1" id="right-blog-side" style="overflow: scroll; height: 900px;"></div>
        <div class="col-sm-10" style="overflow: scroll; height: 900px;">
            <div class="row text-center" style="background-color: black; min-height: 150px;">
                <img class="img-responsive" src="/modules/core/img/how_to_claim_payment.jpg">
            </div>
            <br>
            <div class="text-center">
                <p>1.Sign in to your SakaDocs account or create one</p>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <img class="img-responsive" src="/modules/core/img/login.png">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <br>
                <p>2.Click on 'my posts' and choose the type of document you want to claim payment for.</p>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <img class="img-responsive" src="/modules/core/img/postdoc.png">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <br>
                <p>3.Click on 'get payment for this document'</p>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <img class="img-responsive" src="/modules/core/img/details.png">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <br>
                <p>3.Enter the SakaDocs code you received when you handed the document to its owner and click on Submit. If the number is correct, you will receive the amount specified on the Pricing plan immediately via Mpesa.</p>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9">
                        <img class="img-responsive" src="/modules/core/img/details3.png">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
               
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</section>