<section data-ng-controller="StudentidsController" data-ng-init="find()">
    <div class="row" style="background-color: black;  background-attachment: fixed;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <input type="text" placeholder="Type in your name or school name  " ng-model="search" id="uniquefilter">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div data-ng-repeat="id in testValue=(ids | filter: search) " data-ng-href="#!/studentids/{{id._id}}" class="row thumbnail">
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-3  img-responsive" id="idpic">
            <img style="max-height: 180px;" class="img-responsive" ng-src="{{id.idPhoto}}" alt="">
        </div>
        <div class="col-sm-5">
            <p style="font-weight: bold; font-size: 15px;">Full names: <span style="color: orange;">{{id.fullNames | uppercase}}</span></p>
            <p style="font-weight: bold; font-size: 15px;">Admission/Reg number: <span style="color: orange;">{{id.admissionNumber | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">School name: <span style="color: orange;">{{id.schoolName | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">Location found: <span style="color: orange;">{{id.locationFound | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">Date posted: <span style="color: grey;">{{id.created | date}}</span> </p>
            <a href="/#!/claimstudentid/{{id._id}}">
                <button type="submit" class="btn" id="signupbtn"><span id="claimtext">Claim this student id</span></button>
            </a>
            <br>
            <br>
        </div>
    </div>
    <br>
    <br>
    <div class="row" ng-show="!testValue.length" style="min">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="min-height: 300px; ">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <img src="modules/core/img/SakaDocsPageError.png" alt="">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <p>Oops! Your document has not been posted yet.</p>
                <div class="text-center">
                    <p style="font-size: 10px;">Good news though, You can get alerted(via sms) when your ID is posted</p>
                    <form data-ng-submit="getAlert()" autocomplete="off">
                        <div data-ng-show="message" class="text-center text-success bg-success">
                            <strong style="padding-top: 2px; font-size: 7px;" data-ng-bind="message"></strong>
                        </div>
                        <input type="text" name="schoolName" data-ng-model="studentId.schoolName" placeholder="Enter school name">
                        <input type="text" name="admissionNumber" data-ng-model="studentId.admissionNumber" placeholder="Enter your admission/reg number">
                        <button type="submit">Get alert</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>
