<section data-ng-controller="AtmsController" data-ng-init="find()">
    <div class="row" style="background-color: black;  background-attachment: fixed;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <input type="text" placeholder="Type in your name " ng-model="Type in your name" id="uniquefilter">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div data-ng-repeat="id in testValue=(ids | filter: search) " data-ng-href="#!/atms/{{id._id}}" class="row thumbnail">
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-3 img-responsive" id="idpic">
            <img style="max-height: 180px;" class="img-responsive" ng-src="{{id.idPhoto}}" alt="">
        </div>
        <div class="col-sm-5">
            <p style="font-weight: bold; font-size: 15px;">Full names: <span style="color: orange;">{{id.fullNames | uppercase}}</span></p>
            <p style="font-weight: bold; font-size: 15px;">Card type: <span style="color: orange;">{{id.cardType | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">Bank name: <span style="color: orange;">{{id.bankName | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">Location found: <span style="color: orange;">{{id.locationFound | uppercase}}</span> </p>
            <p style="font-weight: bold; font-size: 15px;">Date posted: <span style="color: grey;">{{id.created | date}}</span> </p>
            <a href="/#!/claimatm/{{id._id}}">
                <button type="submit" class="btn" id="signupbtn"><span id="claimtext">Claim this Atm card</span></button>
            </a>
            <br>
            <br>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <br>
    <br>
    <div class="row" ng-show="!testValue.length" style="min" id="pc_notfound">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="min-height: 300px; ">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <img src="modules/core/img/SakaDocsPageError.png" alt="">
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br>
                <p>Oops! Your document has not been posted yet.</p>
                <div class="text-center">
                    <p style="font-size: 10px;">Good news though, You can get alerted(via sms) when your ATM card is posted</p>
                    <form data-ng-submit="getAlert()" autocomplete="off">
                        <div data-ng-show="message" class="text-center text-success bg-success">
                            <strong style="padding-top: 2px; font-size: 7px;" data-ng-bind="message"></strong>
                        </div>
                        <input type="text" name="fullNames" data-ng-model="atm.fullNames" placeholder="Enter your name">
                        <input type="text" name="cardType" data-ng-model="atm.cardType" placeholder="Enter card type e.g Visa">
                        <button type="submit">Get alert</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="row" ng-show="!testValue.length" style="min" id="mobile_notfound">
        <div class="col-sm-3"></div>
        <div class=" col-sm-9 row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="min-height: 300px; ">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <img src="modules/core/img/SakaDocsPageError.png" alt="" style="padding-left: 35px;">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <br>
                <p>Oops! Your document has not been posted yet.</p>
                <div class="text-center">
                    <p style="font-size: 10px;">Good news though, You can get alerted(via sms) when your ATM is posted</p>
                    <form data-ng-submit="getAlert()" autocomplete="off">
                        <div data-ng-show="message" class="text-center text-success bg-success">
                            <strong style="padding-top: 2px; font-size: 7px;" data-ng-bind="message"></strong>
                        </div>
                        <input type="text" name="fullNames" data-ng-model="atm.fullNames" placeholder="Enter your name"><br><br>
                        <input type="text" name="cardType" data-ng-model="atm.cardType" placeholder="Enter card type e.g Visa"><br><br>
                        <button type="submit">Get alert</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>