<section data-ng-controller="ClaimController" data-ng-init="claim()">
    <div class="row">
        <div class="row img-responsive col-sm-6" id="idpic">
            <img class=" col-sm-6 img-responsive" ng-src="{{id.idPhoto}}" alt="">
            <div class="col-sm-6">
                <p style="font-weight: bold; font-size: 13px;">Full names: <span style="color: orange; font-size: 13px;">{{id.fullNames | uppercase}}</span></p>
                <p style="font-weight: bold; font-size: 13px;">Id number: <span style="color: orange; font-size: 13px;">{{id.idNumber | uppercase}}</span> </p>
                <p style="font-weight: bold; font-size: 13px;">Area found: <span style="color: orange; font-size: 13px;">{{id.locationFound | uppercase}}</span> </p>
                <p style="font-weight: bold; font-size: 13px;">Date posted: <span style="color: grey; font-size: 13px;">{{id.posted | date}}</span> </p>
            </div>
        </div>
    </div>
</section>