<section class="row text-center" data-ng-controller="MycertificatesController" data-ng-init="find()">
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <a href="/#!/postcertificate">
                <button class="btn btn-large" id="signupbtn"><span style="color: black;">Post certificate</span></button>
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
    <div class="row" data-ng-href="#!/certificates/{{id._id}}" data-ng-show="show">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 row thumbnail">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form data-ng-submit="payUser()" autocomplete="off">
                    <fieldset>
                        <div data-ng-show="error" class="text-center text-danger bg-danger">
                            <strong style="padding-top: 4px;" data-ng-bind="error"></strong>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="sakaDocsCode" name="sakaDocsCode" class="form-control forminput" data-ng-model="credentials.sakaDocsCode" placeholder="Enter SakaDocs code">
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn" id="signupbtn">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" data-ng-repeat="id in testValue=(ids | filter: search) " data-ng-href="#!/certificates/{{id._id}}" data-ng-hide="show">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 row thumbnail">
            <br>
            <div class="col-sm-4 thumbnail img-responsive" id="idpic">
                <img class="img-responsive" ng-src="{{id.idPhoto}}" alt="">
            </div>
            <div class="col-sm-8">

            <p style="font-weight: bold; font-size: 13px;">Full names: <span style="color: orange;">{{id.fullNames | uppercase}}</span></p>
            <p style="font-weight: bold; font-size: 13px;">Institution name: <span style="color: orange;">{{id.institutionName | uppercase}}</span> </p>    
            <p style="font-weight: bold; font-size: 13px;">Location found: <span style="color: orange;">{{id.locationFound | uppercase}}</span> </p> 
            <p style="font-weight: bold; font-size: 13px;">Date posted: <span style="color: grey;">{{id.created | date}}</span> </p>  
            <button type="submit" class="btn" id="signupbtn" data-ng-click="toggle()"><span id="claimtext">Get payment for this certificate</span></button>
        </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div ng-show="!testValue.length" ng-class="alert">
        <h2>You have not posted an certificate yet.</h2>
    </div>
</section>