<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>
    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <!-- Facebook META -->
    <meta property="fb:app_id" content="{{facebookAppId}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:image" content="/img/brand/logo.png">
    <meta property="og:type" content="website">
    <!-- Twitter META -->
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:url" content="{{url}}">
    <meta name="twitter:image" content="/img/brand/logo.png">
    <!-- Insert roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Fav Icon -->
    <link href="/modules/core/img/brand/logo.jpg" rel="shortcut icon" type="image">
    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">{% endfor %}
    <!-- HTML5 Shim -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
(function() {
    var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5a5674cfd7591465c7069f79/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
})();
</script>
<!--End of Tawk.to Script-->

<body class="ng-cloak">
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top "></header>
    <br class="breaks">
    <br class="breaks">
    <br class="breaks">
    <div id="mobile-space"></div>
    <div class="jumbotron content row" id="jumbo" style="margin:  0px;margin:  0px;padding-top: 18px; border-top-width: 20px;">
        <section class="col-sm-2" style="">
            <div id="socials_on_pc" style="  top: 100px; margin-left: -14px; margin-top: 120px; position: fixed; width: 35px; background-color: black; ">
                <div class="img-responsive" style="border-bottom-color: white; border-bottom-style: solid; border-bottom-width: 2px; min-height: 35px;">
                    <a href="https://www.facebook.com/sakadocs" target="_blank">
                        <img class="img-responsive" src="/modules/core/img/fb.png" alt="" style="padding-left: 10px;padding-top: 5px; padding-bottom: 5px;">
                    </a>
                </div>
                <div style="border-bottom-color: white; border-bottom-style: solid; border-top-style: solid; border-bottom-width: 2px;
                border-top-width: 2px; min-height: 35px;">
                    <a href="https://www.twitter.com/sakadocs">
                    <img class="img-responsive" src="/modules/core/img/Twitter.png" alt="" style="padding-left: 4px;padding-top: 5px; padding-right: 4px;padding-bottom: 5px;">
                </a>
                </div>
                <div style="border-bottom-color: white; border-bottom-style: solid; border-top-style: solid; border-bottom-width: 2px;
                border-top-width: 2px; min-height: 35px;">
                    <a href="https://www.youtube.com/sakadocs">
                    <img class="img-responsive" src="/modules/core/img/youtube.png" alt="" style="padding-left: 6px;padding-top: 7px; padding-right: 5px;">
                </a>
                </div>
            </div>
        </section>
        <section class="container col-sm-8 " style="background-color: white; min-height: 700px; overflow: scroll; background-image: url('modules/core/img/SakaDocsBackground.png'); background-size: cover; background-repeat: no-repeat;">
            {% block content %}{% endblock %}
        </section>
        <section class="col-sm-2" style="">
            <div class="card" style="background-color: white;">
                <div id="blog-head" class=" text-center">
                    <p id="blog-title">Blog</p>
                </div>
                <br>
                <div style="min-height: 20px; background-color: white;">
                    <a href="/#!/blog/howtopostadoc" style="text-decoration: none; color: black;">
                        <p style="position: relative; left: 10px;" class="card-text" id="card-text"> How to post a document on sakadocs <span style="position: relative; right: -1px; color: #616161;" class="glyphicon glyphicon-chevron-right"></span></p>
                    </a>
                </div>
                <hr style="margin-top: 0; margin-bottom: 0;">
                <div style="min-height: 20px; background-color: white;">
                    <a href="/#!/blog/howtoclaimadoc" style="text-decoration: none; color: black;">
                        <p style="position: relative; left: 10px;" class="card-text" id="card-text">How to claim a document on sakadocs <span style="position: relative; right: 4px; color: #616161;" class="glyphicon glyphicon-chevron-right"></span></p>
                    </a>
                </div>
                <hr style="margin-top: 0; margin-bottom: 0;">
                <div style="min-height: 20px; background-color: white;">
                    <a href="/#!/blog/howtoclaimpayment" style="text-decoration: none; color: black;">
                        <p style="position: relative; left: 10px;" class="card-text" id="card-text">How to claim payment on sakadocs <span style="position: relative; right: -11px; color: #616161;" class="glyphicon glyphicon-chevron-right"></span></p>
                    </a>
                </div>
                <hr style="margin-top: 0; margin-bottom: 0;">
            </div>
            <br>
            <div class="card"  id="pc_payment_options">
                <div id="blog-head" class=" text-center">
                    <p id="blog-title">Payment options</p>
                </div><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;">
                <div class="card"  style=" background-color: white; min-height: 30px; padding-top: 8px; padding-left: 21px;">
                        <img class="img-responsive" src="/modules/core/img/SakaDocs M-Pesa Paybill-01.jpg" alt="SakaDocs MPesa Paybill number 201996">
                </div><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;"><hr style="margin-top: 0; margin-bottom: 0;">
                <!-- <div class="card" style=" background-color: white; min-height: 20px; padding-top: 8px; padding-left: 21px;">
                        <img class="img-responsive" src="/modules/core/img/SakaDocs Airtel Money Nickname.jpg" alt="SakaDocs Airtel money Nickname SAKADOCS">  
                </div> -->
            </div>
            <div class="card"  id="mobile_payment_options">
                <div id="blog-head" class=" text-center">
                    <p id="blog-title">Payment options</p>
                </div>
                <div class="card"  style=" background-color: white; min-height: 30px; padding-top: 8px; padding-left: 21px;">
                        <img class="img-responsive" src="/modules/core/img/SakaDocs M-Pesa Paybill-01.jpg" alt="SakaDocs MPesa Paybill number">
                </div><hr style="margin-top: 0; margin-bottom: 0;">
                <!-- <div class="card" style=" background-color: white; min-height: 20px; padding-top: 8px; padding-left: 21px;">
                        <img class="img-responsive" src="/modules/core/img/SakaDocs Airtel Money Nickname.jpg" alt="SakaDocs Airtel money Nickname SAKADOCS">  
                </div> -->
            </div>  
        </section>
    </div>
    <footer data-ng-include="'/modules/core/views/footer.client.view.html'"></footer>
    <!--Embedding The User Object-->
    <script type="text/javascript">
    var user = {
        {
            user | json | safe
        }
    };
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
    </script>
    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} {% if process.env.NODE_ENV === 'development' %}
    <script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
    {% endif %}
</body>

</html>